<form action="" method="POST" autocomplete="on" id="formulario" class="formulario">
    <fieldset>
        <legend>Afazeres</legend>
        <label for="atividade">Atividade</label>
        <input type="text" placeholder="Atividade" required data-atividade>
    </fieldset>
    <button (click)="adicionaNovaAtividade()" type="button">Adicionar tarefa</button>
</form>
<div class="atividades">
    <app-atividade [atividades]="atividades" *ngIf="atividades.length !== 0, else semItens"></app-atividade>
    <ng-template #semItens>
        <p class="sem-atividades">Não há nenhuma atividade na sua lista até o momento!</p>
    </ng-template>
</div>
