.atividade {
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 1em;
    display: flex;
    margin-bottom: .5rem;
    padding: 1.5em;
}

.atividade span {
    background-color: orangered;
    border-radius: 50%;
    box-sizing: border-box;
    color: #FFFFFF;
    margin-right: 2em;
    padding: .5em .9em;
}

.atividade p {
    color: #5f9ea0;
    font-size: 22px;
    flex-grow: 1;
}

.deletar::before, .alterar::before {
    cursor: pointer;
}

.deletar::before {
    content: url("../../../../assets/icones/excluir.png");
}

.alterar::before {
    content: url("../../../../assets/icones/editar.png");
    margin-right: .5rem;
}
