.atividade {
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 1em;
    display: flex;
    padding: 1.5em;
}

.atividade span {
    background-color: orangered;
    border-radius: 50%;
    box-sizing: border-box;
    color: #FFFFFF;
    margin-right: 2em;
    padding: .5em .9em;
}

.atividade p {
    color: #5f9ea0;
    font-size: 22px;
}
